<img src="http://files.softicons.com/download/web-icons/golden-control-icons-by-fixicon/png/256/link.png" style="float: left; height: 80px"> 

<h2>Feature Extraction and Merging Dataframes<h2/>

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
import pandas as pd
import numpy as np
import geopandas
import geopandas.tools
from shapely.geometry import Point
import matplotlib.pyplot as plt

<img src="https://cdn3.iconfinder.com/data/icons/linecons-free-vector-icons-pack/32/data-512.png" style="float: left;margin: 20px; height: 50px"> 
<h2>My Dataset</h2>

In [3]:

#read my files
accident_data = pd.read_csv('/Users/sharleenies/Desktop/ClassDir/capstone_sharleen/Part2/accident_data.csv')

node_loc_mel = pd.read_csv('/Users/sharleenies/Desktop/ClassDir/capstone_sharleen/Part2/node_loc_mel.csv')

residence_2015 = pd.read_csv('/Users/sharleenies/Desktop/ClassDir/capstone_sharleen/Part2/residence_2015.csv')

employment_2015 = pd.read_csv('/Users/sharleenies/Desktop/ClassDir/capstone_sharleen/Part2/employment_2015.csv')

public_fac = pd.read_csv('/Users/sharleenies/Desktop/ClassDir/capstone_sharleen/Part2/public_fac.csv')

landmarks = pd.read_csv('/Users/sharleenies/Desktop/ClassDir/capstone_sharleen/Part2/landmarks.csv')

cafes_rest_2015 = pd.read_csv('/Users/sharleenies/Desktop/ClassDir/capstone_sharleen/Part2/cafes_rest_2015.csv')

sensor_loc = pd.read_csv('/Users/sharleenies/Desktop/ClassDir/capstone_sharleen/Part2/sensor_loc.csv')

ped_data = pd.read_csv('/Users/sharleenies/Desktop/ClassDir/capstone_sharleen/Part2/ped_data.csv')

In [4]:
#just a reminder of what my datasets were...

accident_data.head() #node lat/long for each accident  (2016-2017)
residence_2015.head() #lat/long & clue small area for each residential property (during 2015 - latest)
employment_2015.head() #no. of jobs per industry per clue small area(during 2015 - latest)
public_fac.head() #lat/long for each public facility
landmarks.head() #lat long for each landmark (latest)
cafes_rest_2015.head() #cafes and restaurants at each clue small area & lat/long & seating capacity (latest 2015)
ped_data.head() #hourly count of pedestrian per lat/long (2016-2017)

,accident_no_x,accidentdate,accidenttime,accident_type,accident_type_desc,day_of_week,day_week_description,dca_code,dca_description,directory,...,node_type,amg_x,amg_y,lga_name,lga_name_all,region_name,deg_urban_name,lat,long,postcode_no
0,T20160000108,2016-02-01,17.24.00,7,Fall from or in moving vehicle,7,Saturday,190,FELL IN/FROM VEHICLE,MEL,...,I,2496318.336,2411830.022,MELBOURNE,MELBOURNE,METROPOLITAN NORTH WEST REGION,Metropolitan Excluding CBD,-37.79452,144.9582,3052
1,T20160000108,2016-02-01,17.24.00,7,Fall from or in moving vehicle,7,Saturday,190,FELL IN/FROM VEHICLE,MEL,...,I,2496318.336,2411830.022,MELBOURNE,MELBOURNE,METROPOLITAN NORTH WEST REGION,Metropolitan Excluding CBD,-37.79452,144.9582,3052
2,T20160000108,2016-02-01,17.24.00,7,Fall from or in moving vehicle,7,Saturday,190,FELL IN/FROM VEHICLE,MEL,...,I,2496318.336,2411830.022,MELBOURNE,MELBOURNE,METROPOLITAN NORTH WEST REGION,Metropolitan Excluding CBD,-37.79452,144.9582,3052
3,T20160000108,2016-02-01,17.24.00,7,Fall from or in moving vehicle,7,Saturday,190,FELL IN/FROM VEHICLE,MEL,...,I,2496318.336,2411830.022,MELBOURNE,MELBOURNE,METROPOLITAN NORTH WEST REGION,Metropolitan Excluding CBD,-37.79452,144.9582,3052
4,T20160000108,2016-02-01,17.24.00,7,Fall from or in moving vehicle,7,Saturday,190,FELL IN/FROM VEHICLE,MEL,...,I,2496318.336,2411830.022,MELBOURNE,MELBOURNE,METROPOLITAN NORTH WEST REGION,Metropolitan Excluding CBD,-37.79452,144.9582,3052

,census_year,block_id,property_id,base_property_id,street_address,clue_small_area,dwelling_type,dwelling_number,location,latitude,longitude
0,2015,1,611395,611395,561-581 Flinders Street,Melbourne (CBD),Residential Apartments,189,"-37.821131263, 144.955864933",-37.821131,144.955865
1,2015,1,611394,611394,545-557 Flinders Street,Melbourne (CBD),Residential Apartments,196,"-37.8209939689, 144.956518458",-37.820994,144.956518
2,2015,11,103957,103957,517-537 Flinders Lane,Melbourne (CBD),Residential Apartments,6,"-37.8198848362, 144.956601684",-37.819885,144.956602
3,2015,11,103987,103987,550-554 Flinders Street,Melbourne (CBD),Residential Apartments,176,"-37.8203648011, 144.955979053",-37.820365,144.955979
4,2015,11,103988,103988,546-548 Flinders Street,Melbourne (CBD),Residential Apartments,111,"-37.8205099339, 144.956146835",-37.820510,144.956147

,census_year,block_id,clue_small_area,accommodation,admin_and_support_services,agriculture_and_mining,arts_and_recreation_services,business_services,construction,education_and_training,...,information_media_and_telecommunications,manufacturing,other_services,public_administration_and_safety,real_estate_services,rental_and_hiring_services,retail_trade,"transport,_postal_and_storage",wholesale_trade,total_employment_in_block
0,2015,0,City of Melbourne total,10027.0,14513.0,3896.0,23362.0,77966.0,5817.0,24699.0,...,26789.0,15103.0,12214.0,40876.0,4764.0,627.0,19833.0,14308.0,10787.0,450336.0
1,2015,1,Melbourne (CBD),0.0,122.0,0.0,0.0,137.0,0.0,0.0,...,0.0,0.0,3.0,0.0,0.0,0.0,14.0,0.0,0.0,791.0
2,2015,2,Melbourne (CBD),0.0,0.0,0.0,207.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,207.0
3,2015,4,Melbourne (CBD),0.0,0.0,0.0,41.0,0.0,0.0,0.0,...,0.0,0.0,15.0,0.0,0.0,0.0,45.0,231.0,0.0,493.0
4,2015,5,Melbourne (CBD),0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,11.0,0.0,0.0,16.0

,gis_id,description,asset_class,asset_type,model_no,easting,northing,uploaddate,coordinatelocation
0,1073817,Bicycle Rails - Galvanised Steel Bicycle Rail,Outdoor Furniture,Bicycle Rails,200101-002,321042.15,5812877.25,10/04/2017,"(-37.8139765707821, 144.966925772273)"
1,1074779,Bicycle Rails - Stainless Steel Bicycle Hoop,Outdoor Furniture,Bicycle Rails,200101-004,321274.58,5811958.44,10/04/2017,"(-37.8222982929203, 144.969337996503)"
2,1073818,Bicycle Rails - Galvanised Steel Bicycle Rail,Outdoor Furniture,Bicycle Rails,200101-002,321041.40,5812876.98,10/04/2017,"(-37.8139788557743, 144.966917190008)"
3,1076123,Litter Bin - Steel 80 L Litter Bin,Outdoor Furniture,Litter Bin,200201-016,321229.37,5812188.64,10/04/2017,"(-37.8202159118327, 144.968881467744)"
4,1076324,Litter Bin - Steel 80 L Litter Bin,Outdoor Furniture,Litter Bin,200201-016,322437.26,5809445.88,10/04/2017,"(-37.8451572749459, 144.981924054078)"

,theme,sub_theme,feature_name,co-ordinates,latitude,longitude
0,Transport,Railway Station,Flemington Bridge Railway Station,"-37.7881645889621, 144.939277838304",-37.788165,144.939278
1,Mixed Use,Retail/Office/Carpark,Council House 2 (CH2),"-37.8142591432011, 144.966638432727",-37.814259,144.966638
2,Place Of Assembly,Library,The Melbourne Athenaeum Library,"-37.8148855756416, 144.967291289941",-37.814886,144.967291
3,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),Carlton Gardens South,"-37.8060684577258, 144.971266479841",-37.806068,144.971266
4,Place of Worship,Church,St Francis Church,"-37.8118847831837, 144.962422614541",-37.811885,144.962423

,census_year,block_id,property_id,base_property_id,street_address,clue_small_area,trading_name,industry_(anzsic4)_code,industry_(anzsic4)_description,seating_type,number_of_seats,location,latitude,longitude
0,2015,1,611394,611394,545-557 Flinders Street,Melbourne (CBD),Nandos Northbank,4511,Cafes and Restaurants,Seats - Indoor,88,"-37.8209939689, 144.956518458",-37.820994,144.956518
1,2015,1,108843,108843,2-92 Rebecca Walk,Melbourne (CBD),Gangnam Style No1,4512,Takeaway Food Services,Seats - Indoor,4,"-37.8213142043, 144.956396892",-37.821314,144.956397
2,2015,1,611395,611395,561-581 Flinders Street,Melbourne (CBD),Michel's Pattiserie Flinders Street,4512,Takeaway Food Services,Seats - Outdoor,12,"-37.821131263, 144.955864933",-37.821131,144.955865
3,2015,1,611395,611395,561-581 Flinders Street,Melbourne (CBD),Michel's Pattiserie Flinders Street,4512,Takeaway Food Services,Seats - Indoor,10,"-37.821131263, 144.955864933",-37.821131,144.955865
4,2015,1,611394,611394,545-557 Flinders Street,Melbourne (CBD),Nandos Northbank,4511,Cafes and Restaurants,Seats - Outdoor,6,"-37.8209939689, 144.956518458",-37.820994,144.956518

,id,date_time,year,month,mdate,day,time,sensor_id,hourly_counts,sensor_description,status,year_installed,location_type,geometry,latitude,longitude
0,1,01-JUN-2009 00:00,2009,June,1,Monday,0,4,194,Town Hall (West),Installed,2009,Outdoor,"(-37.8148798759503, 144.966087801437)",-37.814880,144.966088
1,2,01-JUN-2009 00:00,2009,June,1,Monday,0,17,21,Collins Place (South),Installed,2009,Outdoor,"(-37.8136254240211, 144.973235916778)",-37.813625,144.973236
2,3,01-JUN-2009 00:00,2009,June,1,Monday,0,18,9,Collins Place (North),Installed,2009,Outdoor,"(-37.8134486106919, 144.973053538633)",-37.813449,144.973054
3,4,01-JUN-2009 00:00,2009,June,1,Monday,0,16,39,Australia on Collins,Installed,2009,Outdoor,"(-37.8157342252752, 144.965210438559)",-37.815734,144.965210
4,5,01-JUN-2009 00:00,2009,June,1,Monday,0,2,28,Bourke Street Mall (South),Installed,2009,Outdoor,"(-37.8138066724228, 144.965167185971)",-37.813807,144.965167

Before I can join my tables, I need to join them on a unique code. Whilst some of my dataframes have lat/lon information, others have block ID. It won't make sense for me to predict walkability in one specific lat/long area so I'll need to get block IDs for all my separate dataframes.

For this, I'll need to pass my lat/long information onto a shapefile of Melbourne's Block ID geospatial data.  Reference: https://gis.stackexchange.com/questions/190903/assign-a-point-to-polygon-using-pandas-and-shapely

<img src="http://www.clipartbest.com/cliparts/dc7/LBq/dc7LBqaGi.png" style="float: left;margin: 20px; height: 50px"> 
<h2>My Pedestrian Data</h2>

In [5]:
ped_data = ped_data[ped_data['year']==2017]
ped_data

,id,date_time,year,month,mdate,day,time,sensor_id,hourly_counts,sensor_description,status,year_installed,location_type,geometry,latitude,longitude
1740392,1711057,01-JAN-2017 00:00,2017,January,1,Sunday,0,17,844,Collins Place (South),Installed,2009,Outdoor,"(-37.8136254240211, 144.973235916778)",-37.813625,144.973236
1740393,1711058,01-JAN-2017 00:00,2017,January,1,Sunday,0,18,444,Collins Place (North),Installed,2009,Outdoor,"(-37.8134486106919, 144.973053538633)",-37.813449,144.973054
1740394,1711059,01-JAN-2017 00:00,2017,January,1,Sunday,0,16,1358,Australia on Collins,Installed,2009,Outdoor,"(-37.8157342252752, 144.965210438559)",-37.815734,144.965210
1740395,1711060,01-JAN-2017 00:00,2017,January,1,Sunday,0,2,855,Bourke Street Mall (South),Installed,2009,Outdoor,"(-37.8138066724228, 144.965167185971)",-37.813807,144.965167
1740396,1711061,01-JAN-2017 00:00,2017,January,1,Sunday,0,1,855,Bourke Street Mall (North),Installed,2009,Outdoor,"(-37.8134944036338, 144.965153237914)",-37.813494,144.965153
1740397,1711062,01-JAN-2017 00:00,2017,January,1,Sunday,0,13,1240,Flagstaff Station,Installed,2009,Outdoor,"(-37.8123434709568, 144.956647742336)",-37.812343,144.956648
1740398,1711063,01-JAN-2017 00:00,2017,January,1,Sunday,0,15,1685,State Library,Installed,2009,Outdoor,"(-37.8106437830727, 144.964471322694)",-37.810644,144.964471
1740399,1711064,01-JAN-2017 00:00,2017,January,1,Sunday,0,9,1335,Southern Cross Station,Installed,2009,Outdoor,"(-37.8198825259225, 144.951082845706)",-37.819883,144.951083
1740400,1711065,01-JAN-2017 00:00,2017,January,1,Sunday,0,10,1243,Victoria Point,Installed,2009,Outdoor,"(-37.8187647327542, 144.947105451213)",-37.818765,144.947105
1740401,1711066,01-JAN-2017 00:00,2017,January,1,Sunday,0,12,3762,New Quay,Installed,2009,Outdoor,"(-37.8145798719868, 144.942923981029)",-37.814580,144.942924
1740402,1711067,01-JAN-2017 00:00,2017,January,1,Sunday,0,11,2277,Waterfront City,Installed,2009,Outdoor,"(-37.8154565643471, 144.939579299407)",-37.815457,144.939579
1740403,1711068,01-JAN-2017 00:00,2017,January,1,Sunday,0,8,492,Webb Bridge,Installed,2009,Outdoor,"(-37.8229354263742, 144.947175106953)",-37.822935,144.947175
1740404,1711069,01-JAN-2017 00:00,2017,January,1,Sunday,0,7,1099,Birrarung Marr,Installed,2009,Outdoor,"(-37.8183237506589, 144.971414820121)",-37.818324,144.971415
1740405,1711070,01-JAN-2017 00:00,2017,January,1,Sunday,0,5,5787,Princes Bridge,Installed,2009,Outdoor,"(-37.8187424894411, 144.967876562712)",-37.818742,144.967877
1740406,1711071,01-JAN-2017 00:00,2017,January,1,Sunday,0,6,3741,Flinders Street Station Underpass,Installed,2009,Outdoor,"(-37.8191170445268, 144.965582558609)",-37.819117,144.965583
1740407,1711072,01-JAN-2017 00:00,2017,January,1,Sunday,0,14,889,Sandridge Bridge,Installed,2009,Outdoor,"(-37.8201124166947, 144.96291897546)",-37.820112,144.962919
1740408,1711073,01-JAN-2017 00:00,2017,January,1,Sunday,0,26,574,QV Market-Elizabeth St (West),Installed,2013,Outdoor,"(-37.8086954214778, 144.960494038903)",-37.808695,144.960494
1740409,1711074,01-JAN-2017 00:00,2017,January,1,Sunday,0,24,1482,Spencer St-Collins St (North),Installed,2013,Outdoor,"(-37.8188796214196, 144.95449198131)",-37.818880,144.954492
1740410,1711075,01-JAN-2017 00:00,2017,January,1,Sunday,0,25,2930,Melbourne Convention Exhibition Centre,Installed,2013,Outdoor,"(-37.8240318840833, 144.955931412038)",-37.824032,144.955931
1740411,1711076,01-JAN-2017 00:00,2017,January,1,Sunday,0,21,1916,Bourke St-Russell St (West),Installed,2013,Outdoor,"(-37.8124803013205, 144.967730746932)",-37.812480,144.967731
1740412,1711077,01-JAN-2017 00:00,2017,January,1,Sunday,0,20,353,Chinatown-Lt Bourke St (South),Installed,2013,Outdoor,"(-37.811729134669, 144.968246601442)",-37.811729,144.968247
1740413,1711078,01-JAN-2017 00:00,2017,January,1,Sunday,0,19,697,Chinatown-Swanston St (North),Installed,2013,Outdoor,"(-37.8123720170999, 144.965506710649)",-37.812372,144.965507
1740414,1711079,01-JAN-2017 00:00,2017,January,1,Sunday,0,27,100,QV Market-Peel St,Installed,2013,Outdoor,"(-37.8062043823034, 144.956630585614)",-37.806204,144.956631
1740415,1711080,01-JAN-2017 00:00,2017,January,1,Sunday,0,28,3000,The Arts Centre,Installed,2013,Outdoor,"(-37.8212992424763, 144.968793093492)",-37.821299,144.968793
1740416,1711081,01-JAN-2017 00:00,2017,January,1,Sunday,0,31,304,Lygon St (West),Installed,2014,Outdoor,"(-37.8016968046535, 144.966589114895)",-37.801697,144.966589
1740417,1711082,01-JAN-2017 00:00,2017,January,1,Sunday,0,30,827,Lonsdale St (South),Installed,2014,Outdoor,"(-37.8112184919515, 144.966568066001)",-37.811218,144.966568
1740418,1711083,01-JAN-2017 00:00,2017,January,1,Sunday,0,33,557,Flinders St-Spring St (West),Installed,2014,Outdoor,"(-37.8148325157834, 144.974540556573)",-37.814833,144.974541
1740419,1711084,01-JAN-2017 00:00,2017,January,1,Sunday,0,34,1159,Flinders St-Spark La,Installed,2014,Outdoor,"(-37.8153798501116, 144.974150495806)",-37.815380,144.974150
1740420,1711085,01-JAN-2017 00:00,2017,January,1,Sunday,0,39,222,Alfred Place,Installed,2015,Outdoor,"(-37.8138475498556, 144.970330591529)",-37.813848,144.970331
1740421,1711086,01-JAN-2017 00:00,2017,January,1,Sunday,0,38,4331,Flinders St-Swanston St (West),Installed,2015,Outdoor,"(-37.8170916806555, 144.96714779185)",-37.817092,144.967148
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1822419,1793084,31-MAR-2017 23:00,2017,March,31,Friday,23,9,134,Southern Cross Station,Installed,2009,Outdoor,"(-37.8198825259225, 144.951082845706)",-37.819883,144.951083
1822420,1793085,31-MAR-2017 23:00,2017,March,31,Friday,23,10,154,Victoria Point,Installed,2009,Outdoor,"(-37.8187647327542, 144.947105451213)",-37.818765,144.947105
1822421,1793086,31-MAR-2017 23:00,2017,March,31,Friday,23,12,209,New Quay,Installed,2009,Outdoor,"(-37.8145798719868, 144.942923981029)",-37.814580,144.942924
1822422,1793087,31-MAR-2017 23:00,2017,March,31,Friday,23,11,43,Waterfront City,Installed,2009,Outdoor,"(-37.8154565643471, 144.939579299407)",-37.815457,144.939579
1822423,1793088,31-MAR-2017 23:00,2017,March,31,Friday,23,8,98,Webb Bridge,Installed,2009,Outdoor,"(-37.8229354263742, 144.947175106953)",-37.822935,144.947175
1822424,1793089,31-MAR-2017 23:00,2017,March,31,Friday,23,7,576,Birrarung Marr,Installed,2009,Outdoor,"(-37.8183237506589, 144.971414820121)",-37.818324,144.971415
1822425,1793090,31-MAR-2017 23:00,2017,March,31,Friday,23,5,1389,Princes Bridge,Installed,2009,Outdoor,"(-37.8187424894411, 144.967876562712)",-37.818742,144.967877
1822426,1793091,31-MAR-2017 23:00,2017,March,31,Friday,23,6,1418,Flinders Street Station Underpass,Installed,2009,Outdoor,"(-37.8191170445268, 144.965582558609)",-37.819117,144.965583
1822427,1793092,31-MAR-2017 23:00,2017,March,31,Friday,23,14,434,Sandridge Bridge,Installed,2009,Outdoor,"(-37.8201124166947, 144.96291897546)",-37.820112,144.962919
1822428,1793093,31-MAR-2017 23:00,2017,March,31,Friday,23,26,382,QV Market-Elizabeth St (West),Installed,2013,Outdoor,"(-37.8086954214778, 144.960494038903)",-37.808695,144.960494
1822429,1793094,31-MAR-2017 23:00,2017,March,31,Friday,23,24,861,Spencer St-Collins St (North),Installed,2013,Outdoor,"(-37.8188796214196, 144.95449198131)",-37.818880,144.954492
1822430,1793095,31-MAR-2017 23:00,2017,March,31,Friday,23,23,234,Spencer St-Collins St (South),Installed,2013,Outdoor,"(-37.8190925593958, 144.954527490176)",-37.819093,144.954527
1822431,1793096,31-MAR-2017 23:00,2017,March,31,Friday,23,25,344,Melbourne Convention Exhibition Centre,Installed,2013,Outdoor,"(-37.8240318840833, 144.955931412038)",-37.824032,144.955931
1822432,1793097,31-MAR-2017 23:00,2017,March,31,Friday,23,21,1123,Bourke St-Russell St (West),Installed,2013,Outdoor,"(-37.8124803013205, 144.967730746932)",-37.812480,144.967731
1822433,1793098,31-MAR-2017 23:00,2017,March,31,Friday,23,20,538,Chinatown-Lt Bourke St (South),Installed,2013,Outdoor,"(-37.811729134669, 144.968246601442)",-37.811729,144.968247
1822434,1793099,31-MAR-2017 23:00,2017,March,31,Friday,23,19,796,Chinatown-Swanston St (North),Installed,2013,Outdoor,"(-37.8123720170999, 144.965506710649)",-37.812372,144.965507
1822435,1793100,31-MAR-2017 23:00,2017,March,31,Friday,23,27,78,QV Market-Peel St,Installed,2013,Outdoor,"(-37.8062043823034, 144.956630585614)",-37.806204,144.956631
1822436,1793101,31-MAR-2017 23:00,2017,March,31,Friday,23,31,511,Lygon St (West),Installed,2014,Outdoor,"(-37.8016968046535, 144.966589114895)",-37.801697,144.966589
1822437,1793102,31-MAR-2017 23:00,2017,March,31,Friday,23,30,979,Lonsdale St (South),Installed,2014,Outdoor,"(-37.8112184919515, 144.966568066001)",-37.811218,144.966568
1822438,1793103,31-MAR-2017 23:00,2017,March,31,Friday,23,33,111,Flinders St-Spring St (West),Installed,2014,Outdoor,"(-37.8148325157834, 144.974540556573)",-37.814833,144.974541
1822439,1793104,31-MAR-2017 23:00,2017,March,31,Friday,23,34,136,Flinders St-Spark La,Installed,2014,Outdoor,"(-37.8153798501116, 144.974150495806)",-37.815380,144.974150
1822440,1793105,31-MAR-2017 23:00,2017,March,31,Friday,23,39,119,Alfred Place,Installed,2015,Outdoor,"(-37.8138475498556, 144.970330591529)",-37.813848,144.970331
1822441,1793106,31-MAR-2017 23:00,2017,March,31,Friday,23,37,219,Lygon St (East),Installed,2015,Outdoor,"(-37.8031027095484, 144.966714517396)",-37.803103,144.966715
1822442,1793107,31-MAR-2017 23:00,2017,March,31,Friday,23,40,169,Lonsdale St-Spring St (West),Installed,2015,Outdoor,"(-37.8099934057793, 144.972275879457)",-37.809993,144.972276
1822443,1793108,31-MAR-2017 23:00,2017,March,31,Friday,23,36,533,Queen St (West),Installed,2015,Outdoor,"(-37.8164707984673, 144.961276928328)",-37.816471,144.961277
1822444,1793109,31-MAR-2017 23:00,2017,March,31,Friday,23,29,312,St Kilda Rd-Alexandra Gardens,Installed,2014,Outdoor,"(-37.819658083823, 144.968634533137)",-37.819658,144.968635
1822445,1793110,31-MAR-2017 23:00,2017,March,31,Friday,23,42,113,Grattan St-Swanston St (West),Installed,2015,Outdoor,"(-37.8000856548236, 144.963864121768)",-37.800086,144.963864
1822446,1793111,31-MAR-2017 23:00,2017,March,31,Friday,23,43,125,Monash Rd-Swanston St (West),Installed,2015,Outdoor,"(-37.7984452524968, 144.964117822271)",-37.798445,144.964118
1822447,1793112,31-MAR-2017 23:00,2017,March,31,Friday,23,44,68,Tin Alley-Swanston St (West),Installed,2015,Outdoor,"(-37.7968227197363, 144.964353917115)",-37.796823,144.964354
1822448,1793113,31-MAR-2017 23:00,2017,March,31,Friday,23,35,1850,Southbank,Installed,2016,Outdoor,"(-37.8202262044322, 144.965076422932)",-37.820226,144.965076

In [6]:
# Create the geometry column from the coordinates
ped_data["geometry"] = ped_data.apply(lambda row: Point(row["longitude"], row["latitude"]), axis=1)

# # # Convert to a GeoDataFrame
ped_data = geopandas.GeoDataFrame(ped_data, geometry="geometry")

# Declare the coordinate system for the places GeoDataFrame
ped_data.crs = {"init": "epsg:4326"}

# Load the polygons
blocks = geopandas.GeoDataFrame.from_file("/Users/sharleenies/Downloads/clue/geo_export_992f5608-7c24-43eb-9604-e694f4a63fce.shp")
# Drop all columns except the block and polygon geometry

blocks = blocks[["block_id", "geometry","floor_sqm"]]

# Perform the spatial join
ped_data = geopandas.tools.sjoin(ped_data, blocks, how="left")

# Print the results...
ped_data.head()

,id,date_time,year,month,mdate,day,time,sensor_id,hourly_counts,sensor_description,status,year_installed,location_type,geometry,latitude,longitude,index_right,block_id,floor_sqm
1740392,1711057,01-JAN-2017 00:00,2017,January,1,Sunday,0,17,844,Collins Place (South),Installed,2009,Outdoor,POINT (144.973235916778 -37.8136254240211),-37.813625,144.973236,285,28,260867.0
1740393,1711058,01-JAN-2017 00:00,2017,January,1,Sunday,0,18,444,Collins Place (North),Installed,2009,Outdoor,POINT (144.973053538633 -37.8134486106919),-37.813449,144.973054,287,38,151490.0
1740394,1711059,01-JAN-2017 00:00,2017,January,1,Sunday,0,16,1358,Australia on Collins,Installed,2009,Outdoor,POINT (144.965210438559 -37.8157342252752),-37.815734,144.965210,355,35,136398.0
1740395,1711060,01-JAN-2017 00:00,2017,January,1,Sunday,0,2,855,Bourke Street Mall (South),Installed,2009,Outdoor,POINT (144.965167185971 -37.81380667242279),-37.813807,144.965167,354,45,95907.0
1740396,1711061,01-JAN-2017 00:00,2017,January,1,Sunday,0,1,855,Bourke Street Mall (North),Installed,2009,Outdoor,POINT (144.965153237914 -37.8134944036338),-37.813494,144.965153,296,55,102007.0

In [7]:
ped_data.tail()

,id,date_time,year,month,mdate,day,time,sensor_id,hourly_counts,sensor_description,status,year_installed,location_type,geometry,latitude,longitude,index_right,block_id,floor_sqm
1822444,1793109,31-MAR-2017 23:00,2017,March,31,Friday,23,29,312,St Kilda Rd-Alexandra Gardens,Installed,2014,Outdoor,POINT (144.968634533137 -37.819658083823),-37.819658,144.968635,120,850,114540.0
1822445,1793110,31-MAR-2017 23:00,2017,March,31,Friday,23,42,113,Grattan St-Swanston St (West),Installed,2015,Outdoor,POINT (144.963864121768 -37.8000856548236),-37.800086,144.963864,224,270,591216.0
1822446,1793111,31-MAR-2017 23:00,2017,March,31,Friday,23,43,125,Monash Rd-Swanston St (West),Installed,2015,Outdoor,POINT (144.964117822271 -37.7984452524968),-37.798445,144.964118,224,270,591216.0
1822447,1793112,31-MAR-2017 23:00,2017,March,31,Friday,23,44,68,Tin Alley-Swanston St (West),Installed,2015,Outdoor,POINT (144.964353917115 -37.7968227197363),-37.796823,144.964354,224,270,591216.0
1822448,1793113,31-MAR-2017 23:00,2017,March,31,Friday,23,35,1850,Southbank,Installed,2016,Outdoor,POINT (144.965076422932 -37.8202262044322),-37.820226,144.965076,121,801,306206.0

In [ ]:
ped_density = ped_data.groupby(['block_id','sensor_description']).agg({'hourly_counts':'median', 'floor_sqm': 'max'}).reset_index() 

ped_density

In [ ]:
ped_density.dtypes

In [ ]:
#normalize floor_sqm

mean_sqm = ped_density.floor_sqm.mean()
max_sqm = ped_density.floor_sqm.max()
min_sqm = ped_density.floor_sqm.min()

ped_density['block_norm'] = [i/sum(ped_density.floor_sqm) for i in ped_density.floor_sqm]
ped_density['density'] = ped_density['hourly_counts'] / ped_density['block_norm']


ped_density.drop(['floor_sqm', 'block_norm'],axis=1)
ped_density

In [ ]:
# ped_density2 = ped_density.groupby(['block_id']).agg({'hourly_counts':'sum', 'floor_sqm': 'max'}).reset_index() 
# # ped_density2.reset_index(inplace=True)
# ped_density2

In [ ]:
ped_density.describe()

In [ ]:
ped_density.describe()

In [ ]:
ped_density['walkable'] = ped_density['hourly_counts'].map(lambda x: 1 if x > 835 else 0)
ped_density

In [ ]:

ped_data1 = ped_data.drop_duplicates(subset='sensor_description', keep='first', inplace=False)
ped_data1 = ped_data1.loc[:,['latitude','longitude','sensor_description','year_installed','block_id']]
ped_data1 = ped_data1.rename(columns={'sensor_description': 'level1', 'year_installed': 'level2'})
ped_data1

In [ ]:
ped_data1.to_csv('./1peddata.csv', index = False)

With my pedestrian data, I want to see:
1. Where are my sensors? How many sensors in each block?
2. Per sensor, what is the median hourly pedestrian count?
3. Per block, what is the highest median hourly pedestrian count?
4. What makes the difference in max pedestrian count for each sensor/block?
5. Time series: Any pattern in pedestrian count over time (month/time in day/week)? October there was a huge surge of total pedestrians. Why? Search Twitter melbourne feed

ped_density2
ped_data

<img src="http://www.dhlawca.com/wp-content/uploads/PEDESTRIAN-ACCIDENTS.png" 
style="float: left;margin: 10px; height: 80px"> 
<h2>Pedestrian Accidents</h2>

In [ ]:
# accident_data

accident_data["geometry"] = accident_data.apply(lambda row: Point(row["long"], row["lat"]), axis=1)

accident_data = geopandas.GeoDataFrame(accident_data, geometry="geometry")

accident_data.crs = {"init": "epsg:4326"}

blocks = geopandas.GeoDataFrame.from_file("/Users/sharleenies/Downloads/clue/geo_export_992f5608-7c24-43eb-9604-e694f4a63fce.shp")

blocks = blocks[["block_id", "geometry"]]

accident_data = geopandas.tools.sjoin(accident_data, blocks, how="left")

accident_data.head()

In [ ]:
accident_data.dropna()

In [ ]:
accident_data.isnull().sum()

In [ ]:
accident_data.accident_type_desc.unique()

Types of accidents that occur in each block. WHich one happens more? Why?

In [ ]:
ped_accident = accident_data[accident_data['accident_type_desc']=='Struck Pedestrian']
ped_accident = ped_accident.loc[:,['lat','long','day_week_description','severity','block_id']]
ped_accident = ped_accident.rename(columns={'lat': 'latitude','long':'longitude','day_week_description': 'level1', 'severity': 'level2'})

ped_accident

In [ ]:
ped_accident.to_csv('./1accidentdata.csv', index = False)

In [ ]:
ped_accident = ped_accident.groupby(['block_id'])['accident_no_x'].count().reset_index()

ped_accident.plot.bar()

In [ ]:
ped_accident

<img src="http://icons.iconarchive.com/icons/icons8/windows-8/128/City-City-Bench-icon.png" 
style="float: left;margin: 20px; height: 50px"> 
<h2>Public Facilities</h2>

In [ ]:
# get lat long in the right format first...
public_fac['coordinatelocation'] =  public_fac['coordinatelocation'].str.replace('(', '')
public_fac['coordinatelocation'] =  public_fac['coordinatelocation'].str.replace(')', '')
print(public_fac['coordinatelocation'].head())

latlon = public_fac['coordinatelocation']

# Create two lists for the loop results to be placed
lat = []
lon = []

# For each row in a varible,
for row in public_fac['coordinatelocation']:
    # Try to,
    try:
        # Split the row by comma, convert to float, and append
        # everything before the comma to lat
        lat.append(float(row.split(',')[0]))
        # Split the row by comma, convert to float, and append
        # everything after the comma to lon
        lon.append(float(row.split(',')[1]))
    # But if you get an error
    except:
        # append a missing value to lat
        lat.append(np.NaN)
        # append a missing value to lon
        lon.append(np.NaN)

# Create two new columns from lat and lon
public_fac['latitude'] = lat
public_fac['longitude'] = lon

In [ ]:

# public_fac

public_fac["geometry"] = public_fac.apply(lambda row: Point(row["longitude"], row["latitude"]), axis=1)

public_fac = geopandas.GeoDataFrame(public_fac, geometry="geometry")

public_fac.crs = {"init": "epsg:4326"}

blocks = geopandas.GeoDataFrame.from_file("/Users/sharleenies/Downloads/clue/geo_export_992f5608-7c24-43eb-9604-e694f4a63fce.shp")

blocks = blocks[["block_id", "geometry"]]

public_fac = geopandas.tools.sjoin(public_fac, blocks, how="left")

public_fac.head()

In [ ]:
# public_fac.reset_index(inplace=True)
public_fac

In [ ]:
# public_fac = public_fac[public_fac['accident_type_desc']=='Struck Pedestrian']
a = public_fac.groupby(['asset_type'])['asset_type'].count()

a.plot.bar()

In [ ]:
#Group By regiment and bucket
groupbyregimentbucket = public_fac.groupby([ 'block_id','asset_type'])
# public_fac.groupby(['asset_type'])['asset_type'].count()

# print “[Grouping by regiment and bucket, and aggregating #of clicks]”
# print groupbyregimentbucket[‘asset_type’].aggregate(count)

#Without the hierarchical indexing
# print “[Unstacking]”
regimentbucketclicksum = groupbyregimentbucket['block_id'].aggregate('count').unstack()
# print regimentbucketclicksum

regimentbucketclicksum.plot(kind = 'bar', title = 'by Regiment, Bucket')
plt.ylabel('clicks')
plt.show()

What kind of areas have more seats or water fountains or rubbish bins? Nearer to residential areas or nearer to pubs or nearer to landmarks?

Litter Bins and seats

In [ ]:
public_fac1 = public_fac.loc[:,['latitude','longitude','asset_type','description','block_id']]
public_fac1 = public_fac1.rename(columns={'asset_type': 'level1', 'description': 'level2'})

public_fac1

In [ ]:
public_fac1.to_csv('./1public_fac.csv', index = False)

<img src="http://icons.iconarchive.com/icons/icons8/ios7/256/Travel-Eiffel-Tower-icon.png" style="float: left;margin: 20px; height: 50px"> 
<h2>Landmarks</h2>

In [ ]:
#landmarks

landmarks["geometry"] = landmarks.apply(lambda row: Point(row["longitude"], row["latitude"]), axis=1)

landmarks = geopandas.GeoDataFrame(landmarks, geometry="geometry")

landmarks.crs = {"init": "epsg:4326"}

blocks = geopandas.GeoDataFrame.from_file("/Users/sharleenies/Downloads/clue/geo_export_992f5608-7c24-43eb-9604-e694f4a63fce.shp")

blocks = blocks[["block_id", "geometry"]]

landmarks = geopandas.tools.sjoin(landmarks, blocks, how="left")

landmarks.head()

In [ ]:
# public_fac = public_fac[public_fac['accident_type_desc']=='Struck Pedestrian']
a = landmarks.groupby(['sub_theme'])['sub_theme'].count()

a.plot.bar()

In [ ]:
a = landmarks.groupby(['theme'])['theme'].count()

a.plot.bar()

What kind of landmarks are around more popular areas? around parks, churches, transport

In [ ]:
# landmarks.reset_index(inplace=True)
landmarks

In [ ]:
landmarks1 = landmarks.loc[:,['latitude','longitude','sub_theme','feature_name','block_id']]
landmarks1 = landmarks1.rename(columns={'sub_theme': 'level1', 'feature_name': 'level2'})

landmarks1

In [ ]:
landmarks1.to_csv('./1landmarks.csv', index = False)

Residential

In [ ]:
residence_2015.head()

In [ ]:
a = residence_2015.groupby(['dwelling_type'])['property_id'].count()

a.plot.bar()

In [ ]:
# residence_2015.reset_index(inplace=True)
residence_2015

In [ ]:
residence1 = residence_2015.loc[:,['latitude','longitude','dwelling_type','street_address','block_id']]
residence1 = residence1.rename(columns={'dwelling_type': 'level1', 'street_address': 'level2'})

residence1

In [ ]:
residence1.to_csv('./1residence_2015.csv', index = False)

Employment

In [ ]:
employment_2015.head()

In [ ]:
# employment_2015.drop(0, inplace = True)
# employment_2015.reset_index(inplace=True)

In [ ]:
employment_2015.to_csv('./1employment_2015.csv', index = False)

WHich block has which type of job? Can it be explained by what's in the area? Art jobs have more parks around?'

In [ ]:
cafes_rest_2015.head()

In [ ]:
cafes_rest1 = cafes_rest_2015.loc[:,['latitude','longitude','industry_(anzsic4)_description','trading_name','block_id']]
cafes_rest1 = cafes_rest1.rename(columns={'industry_(anzsic4)_description': 'level1', 'trading_name': 'level2'})

cafes_rest1

In [ ]:
cafes_rest_2015['industry_(anzsic4)_description'].unique()

If I were lost in the city, walked one direction for 5km, what's the probability of me finding a cafe? as compared to religious services?'

In [ ]:
cafes_rest1.to_csv('./1cafes_rest_2015.csv', index = False)

<b>My Complete Dataframe<b/>

My objective is to predict if an area is walkable or not. For this purpose, I will use pedestrian hourly count. So if the highest median pedetrian hourly count of all sensor locations in each block is greater than 1000 (which I can see in below most are below 1000 in below's table), it is 'Walkable', otherwise it is not. Therefore, I will be classifying first my predictors into (Walkable: 1, Non-Walkable:0)

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
gr = sns.set(rc={"figure.figsize": (18, 15)})
gr = sns.boxplot(y="sensor_description", x="hourly_counts", orient='h', data=ped_data)
plt.xlim(0, 10000)

In [ ]:
# ped_data.head()

In [ ]:
# ped_pivot = ped_data[ped_data['year']==2017]
# ped_pivot

In [ ]:
# ped_grouped = ped_data[['hourly_counts','sensor_description']].groupby(['sensor_description'], as_index=False).median()
# # grouped.unstack()
# print(ped_grouped)

# ped_pivot = pd.pivot_table(ped_data, columns=['year'],values='hourly_counts',index=['block_id'],aggfunc=np.median, fill_value=np.nan)

# # ped_pivot.columns = ['_'.join(col).strip() for col in ped_pivot.columns.values]
# ped_pivot.columns = ped_pivot.columns.get_level_values(0)
# ped_pivot['block_id'] = ped_pivot.index
# ped_pivot=ped_pivot.reset_index().drop('block_id', axis=1)
# ped_pivot.rename(columns={'block_id1':'block_id'},inplace=True)
# ped_pivot

In [ ]:
# ped_pivot2 = pd.pivot_table(ped_data, columns=['month'],values='hourly_counts',index=['sensor_description'],aggfunc=np.median, fill_value=np.nan)

# # ped_pivot2.columns = ['_'.join(col).strip() for col in ped_pivot2.columns]
# ped_pivot2.columns = ped_pivot2.columns.get_level_values(0)
# ped_pivot2['sensor_description1'] = ped_pivot2.index
# ped_pivot2=ped_pivot2.reset_index().drop('sensor_description', axis=1)
# ped_pivot2.rename(columns={'sensor_description1':'sensor_description'},inplace=True)

# print(ped_pivot2)

In [ ]:
# ped_pivot3 = pd.pivot_table(ped_data, columns=['day'],values='hourly_counts',index=['sensor_description'],aggfunc=np.median, fill_value=np.nan)

# ped_pivot3.columns = ped_pivot3.columns.get_level_values(0)
# ped_pivot3['sensor_description1'] = ped_pivot3.index
# ped_pivot3=ped_pivot3.reset_index().drop('sensor_description', axis=1)
# ped_pivot3.rename(columns={'sensor_description1':'sensor_description'},inplace=True)

# print(ped_pivot3)

In [ ]:
# ped_pivot4 = pd.pivot_table(ped_data, columns=['time'],values='hourly_counts',index=['sensor_description'],aggfunc=np.median, fill_value=np.nan)

# ped_pivot4.columns = ped_pivot4.columns.get_level_values(0)
# ped_pivot4['sensor_description1'] = ped_pivot4.index
# ped_pivot4=ped_pivot4.reset_index().drop('sensor_description', axis=1)
# ped_pivot4.rename(columns={'sensor_description1':'sensor_description'},inplace=True)

# print(ped_pivot4)

In [ ]:

# from functools import reduce
# to_merge = [ped_density2, ped_pivot] # housing_grouped,cafes_grouped,public_fac_gp, landmark_gp
# ped_df = reduce(lambda left,right: pd.merge(left,right,on='block_id',how='left'), to_merge)
# ped_df.fillna(0, inplace=True)
# ped_df

In [ ]:
# ped_df.columns = ['med_ped_' + str(col) if col != 'sensor_description' else col for col in ped_df.columns ]
# ped_df.head()

In [ ]:
#merge median ped count onto original df
# ped_data = pd.merge(ped_data, ped_df, on=['sensor_description'], how='left')
# ped_data = pd.merge(ped_data, ped_density2, on=['block_id'], how='left')

# # ped_data.rename(columns={'hourly_counts_y':'median_pedcount'}, inplace=True)
# ped_data

In [ ]:
# ped_data.columns

In [ ]:

# ped_grouped = ped_data[['block_id','med_ped_2016', 'med_ped_2017', 'med_ped_April', 'med_ped_August',
#        'med_ped_December', 'med_ped_February', 'med_ped_January',
#        'med_ped_July', 'med_ped_June', 'med_ped_March', 'med_ped_May',
#        'med_ped_November', 'med_ped_October', 'med_ped_September',
#        'med_ped_Friday', 'med_ped_Monday', 'med_ped_Saturday',
#        'med_ped_Sunday', 'med_ped_Thursday', 'med_ped_Tuesday',
#        'med_ped_Wednesday', 'med_ped_0', 'med_ped_1', 'med_ped_2', 'med_ped_3',
#        'med_ped_4', 'med_ped_5', 'med_ped_6', 'med_ped_7', 'med_ped_8',
#        'med_ped_9', 'med_ped_10', 'med_ped_11', 'med_ped_12', 'med_ped_13',
#        'med_ped_14', 'med_ped_15', 'med_ped_16', 'med_ped_17', 'med_ped_18',
#        'med_ped_19', 'med_ped_20', 'med_ped_21', 'med_ped_22', 'med_ped_23']].groupby(['block_id'], as_index=False).max()
# ped_grouped['walkable'] = ped_grouped['med_ped_2017'].map(lambda x: 1 if x > 1000 else 0)
# ped_grouped

# 33 blocks where I have sensor data

<b>For each dataframe which I will merge onto my walkable dataframe, I need to summarize. 


1. Landmarks: Count of landmarks per block ID, per landmark type
2. Housing: Count of residential dwellings per block ID, per dwelling type
3. Cafes & Restaurants: Count of small businesses per block ID, per business type
4. Public Facilities: Count of public facilities per block ID, per facility type
5. Accidents: Count of accidents per block ID
6. employment : jobs per block ID<b/>

In [ ]:
landmarks1 = landmarks[['block_id','theme','feature_name']]
landmark_gp = landmarks1.pivot_table(index='block_id', columns= 'theme', aggfunc='count',fill_value =0)

landmark_gp.columns = ['_'.join(col).strip() for col in landmark_gp.columns.values]
landmark_gp.columns = landmark_gp.columns.get_level_values(0)
landmark_gp['block_id1'] = landmark_gp.index
landmark_gp = landmark_gp.reset_index().drop('block_id', axis=1)
landmark_gp.rename(columns={'block_id1':'block_id'},inplace=True)
print(landmark_gp)

In [ ]:
acc_grouped = accident_data.groupby(['block_id']).size().reset_index(name='count')

acc_grouped.rename(columns={'count':'accident_count'}, inplace=True)
acc_grouped

In [ ]:
#no. of housing per block ID, based on dwelling type

# housing_grouped = residence_2015.groupby(['block_id','dwelling_type']).size().reset_index()
# housing_grouped

housing = residence_2015[['block_id','dwelling_type','base_property_id']]
housing_grouped = housing.pivot_table(index='block_id', columns= 'dwelling_type', aggfunc='count',fill_value =0)

housing_grouped.columns = ['_'.join(col).strip() for col in housing_grouped.columns.values]
housing_grouped.columns = housing_grouped.columns.get_level_values(0)
# final.index=final.index(level=2, drop=True)
housing_grouped['block_id1'] = housing_grouped.index
housing_grouped = housing_grouped.reset_index().drop('block_id', axis=1)
housing_grouped.rename(columns={'block_id1':'block_id'},inplace=True)

print(housing_grouped)

In [ ]:
#no. of cafes and restaurants per block ID, based on type

publ = public_fac[['block_id','asset_type','model_no']]
public_fac_gp = publ.pivot_table(index='block_id', columns= 'asset_type', aggfunc='count',fill_value =0)

public_fac_gp.columns = ['_'.join(col).strip() for col in public_fac_gp.columns.values]
public_fac_gp.columns = public_fac_gp.columns.get_level_values(0)
public_fac_gp['block_id1'] = public_fac_gp.index
public_fac_gp=public_fac_gp.reset_index().drop('block_id', axis=1)
public_fac_gp.rename(columns={'block_id1':'block_id'},inplace=True)

public_fac_gp

In [ ]:
#no. of cafes and restaurants per block ID, based on type

cafes = cafes_rest_2015[['block_id','industry_(anzsic4)_description','base_property_id']]
cafes_grouped = cafes.pivot_table(index='block_id', columns= 'industry_(anzsic4)_description', aggfunc='count',fill_value =0)

cafes_grouped.columns = ['_'.join(col).strip() for col in cafes_grouped.columns.values]
cafes_grouped.columns = cafes_grouped.columns.get_level_values(0)
cafes_grouped['block_id1'] = cafes_grouped.index
cafes_grouped = cafes_grouped.reset_index().drop('block_id', axis=1)
cafes_grouped.rename(columns={'block_id1':'block_id'},inplace=True)
cafes_grouped

In [ ]:
# Check for median number of cafes per block IDs
print(cafes_grouped['base_property_id_Cafes and Restaurants'].median())
# sns.boxplot(x="base_property_id_Cafes and Restaurants", orient='h', data=cafes_grouped)

In [ ]:
# if a block_id has more than 5 cafes, it is cafe_rich:1, otherwise:0
cafes_grouped['cafe_rich'] = cafes_grouped['base_property_id_Cafes and Restaurants'].map(lambda x: 1 if x > 5 else 0)
# cafes_grouped.reset_index(inplace=True)
#

Employment

In [ ]:
employment_2015.columns

In [ ]:
employment = employment_2015.loc[:,['block_id',
       'total_employment_in_block']]

In [ ]:
# employment.reset_index(inplace=True)

Now that I have for each dataframe, the count of each feature, I can join my dataframes on 'block_id'

In [ ]:

from functools import reduce
dfs = [ped_density,cafes_grouped,landmark_gp,employment] # housing_grouped,cafes_grouped,public_fac_gp, landmark_gp
df_final = reduce(lambda left,right: pd.merge(left,right,on='block_id',how='left'), dfs)
df_final.fillna(0, inplace=True)
df_final

In [ ]:
for col in df_final.columns:
    if df_final[col].sum(axis=0) == 0:
        df_final.drop(col, axis=1,inplace=True)   
df_final

In [ ]:
df_final.to_csv('./df_final.csv', index = False)

My initial plan of predicting walkability per block area was slightly thwarted when I realized only 33 data points with pedestrian count won't train a model well enough. I either need to get similar data of other cities and append or pick a different feature to predict.  For now, I'll test out modelling by looking into the impact of my other features on businesses in the block area. Safe + Interesting + Usable = More pedestrians = More customers = More cafes & restaurants

In [ ]:
wdfs = [ped_density,acc_grouped,housing_grouped,cafes_grouped,public_fac_gp, landmark_gp,employment] # housing_grouped,cafes_grouped,public_fac_gp, landmark_gp
for each in wdfs:
    each['block_id'] = each['block_id'].astype(str)

In [ ]:
#walkability df
from functools import reduce
wdf_final = reduce(lambda left,right: pd.merge(left,right,on='block_id',how='left'), wdfs)
wdf_final.fillna(0, inplace=True)
wdf_final

In [ ]:
for col in wdf_final.columns:
    if wdf_final[col].sum(axis=0) == 0:
        wdf_final.drop(col, axis=1,inplace=True)   
wdf_final

In [ ]:
wdf_final.to_csv('./wdf_final.csv', index = False)

In [ ]:
wdf_final.shape

In [ ]:
wdf_final.columns

In [ ]:
ped_data.columns